@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,
            rgba(140, 122, 122, 1) 0%,
            rgba(175, 135, 124, 1) 65%,
            rgba(175, 135, 124, 1) 100%) fixed;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9e9e9e;
    margin-top: 30px;
}

.slide-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    &:focus {
        outline: 0;
    }
}

.Pokemon-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 14px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    height: 500px;
}

.Pokemon-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.pokemon-card__image img {
    transition: 0.3s;
}

.Pokemon-card__image:hover img {
    scale: 120%;
}

.Pokemon-card__image--Pikachu {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}

.Pokemon-card__image--Pikachu img {
    width: 270px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.Pokemon-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

.Pokemon-card__level--Pikachu {
    color: #defb02;
}

.Pokemon-card__level--Charizard {
    color: #fc7e00;
}

.Pokemon-card__level--Venusaur {
    color: #22ff00;
}

.Pokemon-card__level--Blasttoies {
    color: #008cff;
}

.Pokemon-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.Pokemon-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}

.Pokemon-card__unit-stats--Charizard {
    background: #ec9b3b;
}

.Pokemon-card__unit-stats--Venusaur {
    background: #00fe11;
}

.Pokemon-card__unit-stats--Pikachu {
    background: #ffe204;
}

.Pokemon-card__unit-stats--Blasttoies {
    background: #0398fb;
}

.Pokemon-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    .one-third {
        width: 33%;
        float: left;
        padding: 20px 15px;
    }

    sup {
        position: absolute;
        bottom: 4px;
        font-size: 45%;
        margin-left: 2px;
    }

    .stat {
        position: relative;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .stat-value {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
    }

    .no-border {
        border-right: none;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}